version: "3.9"
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: iotdb
    ports:
      - "3030:3030"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:slowj504@localhost:3030/IOTDB # for local
      ENV: prod
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  pgdata:
